<div class="input-section">
    <h2>Введите данные</h2>
    <label for="input_select">входящий  формат_  </label>
<select id="input_select" name="input_select_list">
  <option value="N62 55 12.112 E70 34 11.355 ">N62 55 12.112 E70 34 11.355 pa</option>
  <option value="N62 24.23 E70 52.28 " selected>N62 24.23100 E70 52.28700 pb</option>
  <option value="N62.764677 E70.3878676 " >N62.764677 E70.3878676 pc</option>
  <option value="62.764677 70.3878676 " >62.764677 70.3878676 pd</option>
</select>
<br>
    <label for="output_select">исходящий формат</label>
<select id="output_select" name="output_select_list">
  <option value="N62 55 12.112 E70 34 11.355 ">N62 55 12.112 E70 34 11.355 pa</option>
  <option value="N62 24.23 E70 52.28  " selected>N62 24.23 E70 52.28 pb</option>
  <option value="N62.764677 E70.3878676 " >N62.764677 E70.3878676 pc</option>
  <option value="62.764677 70.3878676 ">62.764677 70.3878676 pd</option>
</select>




    <textarea id="input" placeholder="Введите данные" required></textarea>
    <button onclick="sendData()" class="btn">raw data</button>
    <button onclick="sendData_google()" class="btn">google</button>
    <button id="downloadButton" class="btn" onclick="downloadData()">gpx</button>
    <button id="loadPlotBtn" onclick="sendData_ready()" class="btn" >build
    </button>
    <p></p>
    <img id="plotImage" src="" alt=""/>
    <input type="hidden" id="hiddenField" name="hiddenData">
</div>
<div class="output-section">
    <h2>Результат</h2>
    <ul id="coordinatesList"></ul>
</div>
